*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.headline {
  grid-column:1/3;
  grid-template-rows: 1/3;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color:white;  
}
.headline h1{
  font-size:8rem;
}
h1{
  font-size: 2.2rem;
}
span{
  font-size: 1.4rem;
}
p{
  font-size: large;
}
.grid-container{
  font-family: 'Permanent Marker', cursive;
  background-image: url("/images/pexels-scott-webb-2117938.jpg");
  background-position: center;
  background-size: cover;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 200px) 150px;
  padding:50px;
}

.container{
  transition:0.5s;
}
.container-1{  
  grid-column: 1/2; 
  grid-row:3;
}
.container-2{  
  grid-column: 2/3;
  grid-row:4;
}
.container-3{
  grid-column:1/2;
  grid-row: 5;
}
.container-4{
  grid-column:2/3;
  grid-row:6;
}

.visitenkarte-1, 
.visitenkarte-2, 
.visitenkarte-3, 
.visitenkarte-4
{
  background-color: rgba(0, 0, 0, 0.973);
  color:white;  
  border-radius: 10px;
  transform: rotate(-1.8deg);
  box-shadow: 0 0 10px 5px rgba(255, 254, 254, 0.507);
  transition: 0.5s;
  padding:35px;
  width:95%;
}

.container:hover {
  transform:scale(1.1);
}

.visitenkarte-1, .visitenkarte-4{  
  transform: rotate(1.8deg);
}

.text-field{
  z-index:99;  
  margin: 0 25px;
}
.text-field h1{
  padding-bottom:20px;
}
.image{
  background-image: url(/images/pexels-tetyana-kovyrina-937980.jpg);
  background-size:contain;
  background-position:right;
  background-repeat: no-repeat;

}
.social-media{
  display:flex;
  text-align: center;

}
.linkedin, .github, .dci { 
  margin-left:16px;
  color:lightsteelblue;
  transition:0.3s;
  font-size: 3.8rem;
  margin-top: 25px;
  margin-left: 35px;;
}

.linkedin:hover, .github:hover ,.dci:hover{
  transform:scale(1.1);
}

.form{
  display:flex;
  flex-direction: column;
}
.form input, .form textarea{
  border-radius: 25px;
  padding:0.5rem;
  font-size: 1.2rem;  
}
.form button{
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  width: 50%;
  margin-top:15px;
  align-self: center;
  background-color:lightsteelblue;
  color:white;
  border-radius: 15px;
  transition:0.3s;
}
.form button:hover{
  transform: scale(1.1);
  color:lightsteelblue;
  background-color: white;
  box-shadow: 0 0 8px 5px rgba(247, 244, 244, 0.5);
}


@media  (max-width: 1200px) {
  .headline{
    font-size:1.5rem;
}
  .grid-container{
    display:flex;
    flex-direction: column;
  }
  .container{
  margin:0 auto;
  }

  .container-1,
  .container-2,
  .container-3, 
  .container-4{
    width: 100%;
    margin-top:25px;
    transform:rotate(1.5deg)
  }
  .linkedin, .github, .dci{
    margin-left:16px;
    color:lightsteelblue;
    transition:0.3s;
    font-size: 5rem;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 3rem;
  }
  .headline h1{
    font-size: 5rem;
  }
  .social-media i{
    font-size: 1.8rem;
    justify-content: flex-start;
    margin:0;
    text-align: center;
  }

}
